@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App{
  background-color: #fafafa;
}
.posts{
  background-color: white;
}
.App__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #003049;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  color: white;
}

.App__postsRight{
  margin-left: 10px;
}

.App_header{
  position: sticky;
  top: 0;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px lightgrey solid;
  display: flex;
  background-color: #fcbf49;
  background-image: url("https://www.transparenttextures.com/patterns/darth-stripe.png");
  justify-content: space-between;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.App__headerImage{
  object-fit: contain;
}

.App__signup{
  display: flex;
  text-align: center;
  flex-direction: column;
}